 
 @import "/assets/css/particleEffect.css";
 @import "/assets/css/mobile.css";
 @import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Rancho&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
 
 /* ============================================||   Base Styling  ||============================================ */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Livvic',
    sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Livvic',
    sans-serif;
    text-align: justify;
    text-justify: inter-word;
    background-color: #060510;
    /* font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; */
    font-size: 16px;
    color:#fff;
    line-height: 1.6;
    align-items: center;
    text-align: center;
}

.dash {
    color: orange;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.org {
    color: #f09a48;
}

.blue {
    color: #2196f3;
}

.white {
    color: #fff;
}



 /* ============================================||   Menu Styling  ||============================================ */

#menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(168, 33, 36, 0.969);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    line-height: 5rem;
    font-weight: bold;
    transform: scale(0);
    transition: 0.3s;
    z-index: 20;
}

#menu-overlay.active {
    transform: scale(1);
}

#menu-overlay ul {
    position: relative;
}

#menu-overlay ul li {
    position: relative;
    list-style: none;
    text-align: center;
    display: block;
}

#menu-overlay ul li a {
    position: relative;
    text-decoration: none;
    font-size: 2rem;
    padding: 0 10px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
}

#menu-overlay ul li a:hover {
    color: #000;
    transition: .6s;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

#toggle-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: rgba(136, 136, 136, 0.2) url("/assets/img/open.png");
    z-index: 30;
    cursor: pointer;
}

#toggle-icon:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

#toggle-icon.active {
    background: rgb(168, 33, 36, 0.969) url("/assets/img/close.png");
}




 /* ============================================||   Header Styling  ||============================================ */

.logo {
    width: 35%;
    padding: 10% 0 0 0;
}

.logo:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.main-heading {
    font-family: 'Rancho',
        cursive;
    font-weight: 900;
    color: #fff;
    margin-bottom: 10%;
    font-size: 3.5rem;
    padding: 1% 0 0 0;
    text-shadow: 0 0 20px #ff005b;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7),
        0px 0px 6px rgba(255, 255, 255, 0.7),
}

.main-heading::after {
    content: '';
    position: absolute;
    margin-top: 1.1rem;
    border-radius: 1rem;
    display: block;
    width: 50%;
    height: 0.1rem;
    background: linear-gradient(90deg, #CD6F8A 10%, #ED8F38 90%);
    left: 25%;
    top: 35%;
}

 .header-content {
    width: 100%;
    height: 60vh;
    text-align: center;
    color: #fff;
    background-image: url("/assets/img/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* -webkit-box-shadow: 0px 25px 45px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 25px 45px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 25px 45px 5px rgba(0, 0, 0, 0.5); */
}

.header-content .tagline {
    font-family: 'Satisfy',
    cursive;
}

.header-content a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 1.5rem;
    overflow: hidden;
    transition: 0.2s;
}

.header-content a:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3,
                0 0 40px #2196f3,
                0 0 80px #2196f3;
    transition-delay: 1s;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.header-content a span {
    position: absolute;
    display: block;
}

.header-content a  span:nth-child(1) {
    top: 0; left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

.header-content a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.header-content a  span:nth-child(3) {
    bottom: 0; right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

.header-content a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.header-content a  span:nth-child(2) {
    top: -100%; right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

.header-content a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.header-content a  span:nth-child(4) {
    bottom: -100%; left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

.header-content a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.header-content p {
    margin-bottom: 10%;
}

.video {
    height: 100%;
    z-index: 1;
    background-attachment: fixed;
}



 /* ============================================||   About Section Styling  ||============================================ */


#about {
    /* position: relative; */
    height: 100vh;
    max-width: 500px;
    text-align: center;
    background: #060510;
    color: #fff;
    background-image: url("/assets/img/about-bg.jpg");
    opacity: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.about-header {
    position: relative;
    text-align: center;
    justify-content: center;
    background: #a82124;
    border-bottom: solid 4px #ED8F38;
    opacity: 0.9;
    height: 20%;
    width: 100%;
}

.about-content {
    position: relative;
    top: 10%;
}



/* ============================================||   Message Section Styling  ||============================================ */

#message {
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/img/msg-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.box {
    position: relative;
    width: 100%;
    height: 50%;
    padding: 10%;
    max-width: 500px;
    background: #060c21;
    opacity: 0.8;
    color: #fff;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}



/* ============================================||   Events Section Styling  ||============================================ */

#events {
    width: 100%;
    height: 100vh;
    color: #fff;
    display: block;
    background: #060510;
    text-align: center;
}

#events .events-header  {
    position: relative;
    text-align: center;
    justify-content: center;
    background: #a82124;
    border-bottom: solid 4px #ED8F38;
    opacity: 0.9;
    height: 20%;
    width: 100%;
}

#events .events-content {
    width: 100%;
    height: 100vh;
    display: block;
    text-align: center;
    align-items: center;
}

#events .events-content a .poster {
    position: relative;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 20%;
    text-decoration: none;
    border: 2px solid #a82124;
}

#events .events-content a .poster h3 {
    color: #fff;
    background: rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 10px 40px #000;
}

#events .events-content .poster .technical, .robotics, .l-n-q, .f-n-c {
    width: 100%;
    height: 100%;
}

#events .events-content .poster .technical {
    background-image: url("/assets/img/technical.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#events .events-content .poster .robotics {
    background-image: url("/assets/img/robotics.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#events .events-content .poster .l-n-q {
    background-image: url("/assets/img/literature.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#events .events-content .poster .f-n-c {
    background-image: url("/assets/img/fnc.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



/* ============================================||   Team Section Styling  ||============================================ */

#team {
    position: relative;
    height: 100vh;
    width: 100%;
    color: #fff;
    display: block;
    overflow-y: auto;
    /* overflow-wrap: break-word; */
    background: #060510;
}

#team .team-header {
    position: relative;
    text-align: center;
    justify-content: center;
    background: #a82124;
    border-bottom: solid 4px #ED8F38;
    opacity: 0.9;
    height: 20%;
    width: 100%;
}

#team .team-content {
    display: block;
    height: 100%;
    width: 100%;
}

#team .ca {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    -ms-flex-align: center;
    justify-content: space-around;
    width: 100%;
}

#team .co {
    display: flex;
    flex-wrap: wrap;
    -ms-flex-align: center;
    justify-content: space-around;
    width: 100%;
}

#team .co .Card {
    width: 20%;
    /* flex-direction: row; */
    height: auto;
}

#team .ca .Card {
    width: 25%;
    flex-direction: row;
    height: auto;
}

#team .ca, .co .Card .data {
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
}

#team .co,.co .Card .data {
   position: relative;
   text-align: center;
   height: 100%;
   width: 100%;
}

#team .Card .data {
    visibility: hidden;
    transition: 0.5s;
}

#team .Card:hover .data {
    visibility: visible;
    width: 100%;    height: 100%;
    background-color: rgba(0, 0, 0, 0.92);
}



#team .ca .ca-1 {
    background-image: url("/assets/img/CA/SHIVANGI\ JAIN-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .ca .ca-2 {
    background-image: url("/assets/img/CA/Sanidhya_Parashar-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .ca .ca-3 {
    background-image: url("/assets/img/CA/Brayan\ Abraham-min.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .ca .ca-4 {
    background-image: url("/assets/img/CA/Ankush\ Garg-min.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .ca .ca-5 {
    background-image: url("/assets/img/CA/Kuldip\ Verma-min.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .ca .ca-6 {
    background-image: url("/assets/img/CA/Shivam\ garg-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .ca .ca-7 {
    background-image: url("/assets/img/CA/Samar_Laroia-min.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .ca .ca-8 {
    background-image: url("/assets/img/CA/Nikita_Mittal-min.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .ca .ca-9 {
    background-image: url("/assets/img/CA/Tanvi\ Malhotra-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .ca .ca-10 {
    background-image: url("/assets/img/CA/Lakshita_nagpal-min.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .ca .ca-11 {
    background-image: url("/assets/img/CA/Khushboo_Singhal-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .ca .ca-12 {
    background-image: url("/assets/img/CA/Ankit_Sangwan-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}




#team .co .co-1 {
    background-image: url("/assets/img/CO/Abhay_FNC-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .co .co-2 {
    background-image: url("/assets/img/CO/Abhishek\ publicity\ co-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .co .co-3 {
    background-image: url("/assets/img/CO/Akshat_Technical-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .co .co-4 {
    background-image: url("/assets/img/CO/Amandeep_internal-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .co .co-5 {
    background-image: url("/assets/img/CO/Kirti.\ Internal-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .co .co-6 {
    background-image: url("/assets/img/CO/Chirag_Robotics-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .co .co-7 {
    background-image: url("/assets/img/CO/Mandeep_FnC.HEIC");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .co .co-8 {
    background-image: url("/assets/img/CO/Mohit_Techincal-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .co .co-9 {
    background-image: url("/assets/img/CO/Sahil_\ FNC-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .co .co-10 {
    background-image: url("/assets/img/CO/Samriddhi_Robotics-min.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .co .co-11 {
    background-image: url("/assets/img/CO/Drishti\ Spons_Publicity\ CO-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .co .co-12 {
    background-image: url("/assets/img/CO/Tanmay_literaryandquiz-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .co .co-13 {
    background-image: url("/assets/img/CO/Tanmoy\ design\ CO-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .co .co-14 {
    background-image: url("/assets/img/CO/V\ Sree\ Lalitha_Literary\ &\ Quiz-min.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .co .co-15 {
    background-image: url("/assets/img/CO/Vaibhav\ Bhasin_Robotics-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .co .co-16 {
    background-image: url("/assets/img/CO/Varnika_creativity-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#team .co .co-17 {
    background-image: url("/assets/img/CO/Saloni_technical-min.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



/* ============================================||   Sponsor Section Styling  ||============================================ */


#sponsor {
    position: relative;
    height: 100%;
    width: 100%;
    color: #fff;
    display: block;
    background: #060510;
}

#sponsor .sponsor-header {
    position: relative;
    text-align: center;
    justify-content: center;
    background: #a82124;
    border-bottom: solid 4px #ED8F38;
    opacity: 0.9;
    height: 20%;
    width: 100%;
}

#sponsor .sponsor-content .sponsor {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 50%;
    height: 30%;
    float: left;
    box-shadow: #0000009a 0px 20px 30px;
}

#sponsor .sponsor-content .sponsor img {
    width: 100%;
}

#sponsor .sponsor-content .s1 img {
    display: block;
    border-radius: none;
    width: 100%;
}

#sponsor .sponsor-content .s14 img {
    display: block;
    border-radius: none;
    width: 100%;
}
#sponsor .sponsor-content .credits {
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: 5%;
    padding: 10%;
    width: 100%;
    height: 20%;
    background-color: blueviolet;
}

#sponsor .sponsor-content .credits button {
    position: relative;
    width: 100%;
    top: 100%;
    z-index: 2;
}

#sponsor .sponsor-content .credits button:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}




/* ============================================||   Animations  ||============================================ */

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}